@media (max-width: 799px) {
    body {
        width: 100%;
        font-size: 18px;
        padding: 20px;
        letter-spacing: .5px;
    }
}

@media (min-width: 800px) {
    body {
        width: 760px;
        font-size: 26px;
        letter-spacing: .8px;
    }
}

body {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 80px;
    font-family: "Arial", sans-serif, serif, monospace;
    line-height: 1.52;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #663399;
}

em {
    font-style: normal;
    font-weight: bold;
}

img {
    width: 100%;
}

a:link,
a:visited,
a:active {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ol {
    padding-left: 0rem;
}

ul li {
    padding-left: 0rem;
}

iframe {
    margin-top: 1rem;
}